:root {
    --color-primary: #0184A0;
    --color-secondary: #0b516f;
    --color-tertiary: #35b7d1;

    --color-primario:#FC8F24;
    --color-secundario:#cc741c;
    --color-terciario:#fda853;
}

.btn-amigo{
    background-color: var(--color-primary);
    color: #fff;
}
.btn-amigo:hover{
    background-color: var(--color-tertiary);
    color: #d6fcff;
}
.btn-luis{
    background-color: var(--color-primario);
    color: #fff;
}
.btn-luis:hover{
    background-color: var(--color-terciario);
    color: #fff7d6;

}

.state{
    display: inline-block;  /* Permite que se comporten como bloques en línea */
    width: 16px;           /* Ancho del círculo */
    height: 16px;          /* Alto del círculo */
    border-radius: 50%; /*    Hace que el elemento sea un círculo */
    margin: 10px 10px 0 0;
}
.state-bar{
    display: inline-block;  /* Permite que se comporten como bloques en línea */
    width: 100%;           /* Ancho del círculo */
    height: 6px;          /* Alto del círculo */
}
.s-true{
    background-color: #75da22;  /* Color verde */
}
.s-false{
    background-color: #dd0404;  /* Color verde */
}